@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 228, 228, 231;
  --background-rgb: 10, 14, 20;
}

body {
  min-height: 100vh;
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}